.posts {
  overflow: hidden;
  li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid darken($main-color, 6%);

    &:first-child {
      border-top: 1px solid darken($main-color, 6%);
    }

    position: relative;

    .p-wrap {
      &.category-TxtToSL, &.category-Oojmed {
        background: $txttosl-post-color;
      }
      &.category-Fingerprinting {
        background: $fingerprinting-post-color;
      }

      padding: $spacing-ml $spacing-m;
      background: $main-color;
      transition: all .15s ease-in;

      &:active {
        background: darken($main-color, 5%);

        &.category-TxtToSL {
          background: darken($txttosl-post-color, 5%);
        }
        &.category-Fingerprinting {
          background: darken($fingerprinting-post-color, 5%);
        }
      }
      &:hover {
        background: lighten($main-color, 5%);

        &.category-TxtToSL {
          background: lighten($txttosl-post-color, 5%);
        }
        &.category-Fingerprinting {
          background: lighten($fingerprinting-post-color, 5%);
        }
      }

      @media (max-width: 942px) {
        padding: $spacing-m $spacing-m;
      }
      p {
        display: inline;
        padding-left: 15%;
        margin: $spacing-xs 0 0;
        transition: all .15s ease-in;
      }
      .inner {
        transition: all .15s ease-in;
        text-align: center;
      }
    } // end .p-wrap

    .meta {
      color: darken($text-color, 5%);
      display: inline-block;
      @media (max-width: 942px) {
        display: block;
        width: auto;
      }

      position: absolute;
      left: $spacing-s;
      top: 50%;
      transform: translateY(-50%);

      float: left;
    }

    a {
      color: white;
      text-decoration: none;
    }

  } // end li
} // end .posts

.pagination {
  overflow: hidden;
  margin-top: 40px;
  color: lighten($text-color, 60%);
  text-align: center;
  border: 1px solid $border-color;

  a, span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    text-decoration: none;

    &:first-child {
      text-decoration: none;
      border-right: 1px solid $border-color;
    }
  }

  a:hover {
      text-decoration: none;
      background-color: darken($smoke-color, 5%);
  }
} // end .pagination
